<!-- Directives start with * -->
<!-- ngIf/ngFor are structural directives -->
<!-- You cannot have more than 1 directive in one HTML tag, such as *ngIf below: -->
<li class="d-flex justify-content-between">
    <div class="form-check">
        <!-- Alternative: [ngClass]="fullfilled ? 'strikeout' : ''" -->
        <!-- Getter must be called without () -->
        <label class="form-check-label" [ngClass]="cssClasses">
        <!-- Checked is not visible in HTML, because it is set by JS -->
        <!-- To show it in HTML, prefix attribute with "attr." -->
        <!-- $event for event -->
        <!-- [attr.data-index]="i" -->
        <input 
        class="checkbox" type="checkbox" 
        [checked]="wish.isComplete" 
        (click)="toggleFullfilled()"
        > {{wish.wishText}}
        </label>
    </div>
    <button type="button" class="btn-close" (click)="removeWish()"></button>
</li>