<div class="container">

    <add-wish-form
      (addWish)="items.push($event)"
    ></add-wish-form>
  
    <div class="row mt-3">
      <wish-filter
        [(filter)]="filter"
      ></wish-filter>
    </div>
  
    <div class="row mt-3">
      <!-- Getter ensures that every time the list or any item is modified, it is updated in the UI -->
      <div class="col-sm-4">
        <wish-list
        [wishes]="this.items.filter(filter)"
      ></wish-list>
      </div>
      </div>
  </div>