<form 
    [formGroup]="contactForm"
    (ngSubmit)="$event.preventDefault(); submitForm()"
    class="container p-5">
    <div class="mb-3">
        <label class="form-label">Your name</label>
        <!-- formControl is a directive and the value is on the right side -->
        <!-- Without formGroup: formControl]="senderNameControl" -->
        <input 
            type="text" 
            class="form-control"
            formControlName="senderName"
        >
        <div *ngIf="contactForm.get('senderName')?.invalid && (contactForm.get('senderName')?.dirty || contactForm.get('v')?.touched)">
            <small 
            *ngIf="contactForm.get('senderName')?.hasError('required')"
            class="text-danger"
            >This field is required</small>

            <small 
            *ngIf="contactForm.get('senderName')?.hasError('minlength')"
            class="text-danger"
            >Message has to be at least 10 characters</small>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Your email address</label>
        <input 
            type="email" 
            class="form-control"
            formControlName="senderEmail"
        >
        <div *ngIf="contactForm.get('senderEmail')?.invalid && (contactForm.get('senderEmail')?.dirty || contactForm.get('senderEmail')?.touched)">
            <small 
            *ngIf="contactForm.get('senderEmail')?.hasError('required')"
            class="text-danger"
            >This field is required</small>

            <small 
            *ngIf="contactForm.get('senderEmail')?.hasError('email')"
            class="text-danger"
            >Invalid email format</small>

            <small 
            *ngIf="contactForm.get('senderEmail')?.hasError('invalidEmailDomain')"
            class="text-danger"
            >Invalid email domain</small>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea 
            class="form-control" 
            rows="3"
            formControlName="senderMessage"
        ></textarea>
        <div *ngIf="contactForm.get('senderMessage')?.invalid && (contactForm.get('senderMessage')?.dirty || contactForm.get('senderMessage')?.touched)">
            <small 
            *ngIf="contactForm.get('senderMessage')?.hasError('required')"
            class="text-danger"
            >This field is required</small>

            <small 
            *ngIf="contactForm.get('senderMessage')?.hasError('minlength')"
            class="text-danger"
            >Message has to be at least 10 characters</small>
        </div>
    </div>
    <div class="mb-3">
        <!-- ngSubmit on form tag replaces: (click)="$event.preventDefault(); submitForm()" -->
        <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="contactForm.invalid"
        >Send Message</button>
    </div>
</form>