  <!-- Template driven forms -->
  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input type="text" name="new-wish-text" class="form-control" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button 
      type="submit" 
      class="btn btn-primary"
      (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </form>