<!-- <app-wish></app-wish> -->
<!-- <app-contact></app-contact> -->
<a routerLink="">Home</a><br>
<a routerLink="second">Second</a><br>
<!-- Navigate programmatically -->
<a href="#" (click)="$event.preventDefault(); goToContact()">Contact Us</a>
<router-outlet></router-outlet>