<!-- <div *ngIf="items.length === 0; then noItems else showItems"></div> -->
<div *ngIf="wishes.length === 0; else showItems">
    There are no wishes to display.
</div>

<!-- <ng-template #noItems>
There are no wishes to display.
</ng-template> -->
<ng-template #showItems>
    <ul class="wish-list">
        <!-- *ngFor="let item of wishes; index as ii" -->
        <!-- [(fullfilled)]="wish.isComplete" -->
        <wish-list-item
            *ngFor="let wish of wishes"
            [wish]="wish"
        ></wish-list-item>
    </ul>
</ng-template>