<div class="col-sm-2">
    <!-- Event object contains new value of the object -->
    <!-- (ngModelChange)="filterChanged($event)" -->
    <select 
    class="form-select"
    [(ngModel)]="listFilter"
    (ngModelChange)="updateFilter($event)"
    >
      <option value="0">All</option>
      <option value="1">Unfulfilled</option>
      <option value="2">Fulfilled</option>
    </select>
</div>